{% extends 'base.html' %}
{% block content %}
    <h2>{% block page_heading %} Our Products {% endblock %}</h2>
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 display panel panel-default">
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    <h3>{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <p>{{ product.price }}</p>
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if user.is_authenticated %}
                                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Insert quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit"><i class="fas fa-plus"> Add item </i></button>
                                </span>
                            {% endif %}
                            <button class="btn btn-success" type="submit"><a href="{% url 'reviews' %}"><i class="fas fa-plus"> Add review </i></a></button>
                        </div>
                    </form>
                </div>
                <br>
                <hr>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}