.my-image{
    
    width: 300px;
    height: 100px;
}

.my-company{
    display: inline;
    color: black;
}
#header_row{ 
    text-align: center ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

#footer{
    text-align: center ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}