#my-image{
    display: inline;
    width: 100px;
    height: 100px;
}

#my-company{
    display: inline;
    color: black;
    text-align: center ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    
}

#navigationBar{
    
}

#footer{
    text-align: center ;
    margin-top: 10px ;
}

#quote{
    color:#e6f2ff;
}

