
/* nav elements */

a.dropdown-item{
    width:100%;
    position: relative;
}

.dropdown-menu{
  width:100%;
  margin:50px;
}
#dropdownMenuLink {
  width:100%;
  height:100px;
  background-color:rgb(0, 204, 255);
  color: rgb(204, 204, 204);
  font-size:30px;
}

#navigationBar{
    color: rgb(204, 204, 204);
}

/* html elements */

#footer {
    display:inline-block;
    text-align: center ;
    color: rgb(204, 204, 204);
    margin-top: 10px ;
}

#body-color{
 
 background-color:rgb(0, 0, 51);
 color: rgb(204, 204, 204);
}

#quote {
     width:100%;
     height:100px;
     color: rgb(204, 204, 204);
     font-size:30px;
    
  }

#Review{
    width:100%;
    height:100px;
    color: rgb(204, 204, 204);
    font-size:30px;
}

/* Buttons */

.btn.btn-outline-primary{
    color: rgb(204, 204, 204);
}

.btn.btn-outline-info{
    color: rgb(204, 204, 204);
}

/* Images */

#my-image {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin:10px;
}

#my-company {
    display: inline-block;
    color: rgb(204, 204, 204);
    text-align: center ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    padding:70px;
    background-color: blue;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffree-photo%2Fabstract-technology-binary-code-background_34629-592.jpg&f=1&nofb=1");
    
}

