{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Milestone project 4</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div>
            <header id="header">Cyber Sappers Ltd</header>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcontinuinged.uml.edu%2Fimages%2Fprograms%2Fmain%2Fcybersecurity-lock.jpg&f=1&nofb=1" alt="Picture of a man in a suit holding a silver cyber shield in his hand"> 
                </div>
                <div class="col-8">
                    <h1> Cyber Sappers Ltd. </h1>
                </div>
            </div>
        </div>       
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          {% if user.is_not_authenticated %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'products' %}">Products</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'reviews' %}">Reviews</a></li>
                          {% else %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'view_cart' %}">Cart</a></li>
                            <li><a href="{% url 'products' %}">Products</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'reviews' %}">Reviews</a></li>
                          {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="container">
                        {% block content %}
        
                        {% endblock %}
                     </div>
                </div> 
            </div>
            <div class="row">
                <nav class="navbar">
                    <form class="form-inline">
                        {% if user.is_not_authenticated %}
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'home' %}">Home</a></button>
                        <button class="btn btn-outline-secondary" type="button"><a href="{% url 'login' %}">Login</a></button>
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'products' %}">Products</a></button>
                        <button class="btn btn-outline-secondary" type="button"><a href="{% url 'services' %}">Services</a></button>
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'reviews' %}">Reviews</a></button>
                        {% else %}
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'home' %}">Home</a></button>
                        <button class="btn btn-outline-secondary" type="button"><a href="{% url 'logout' %}">Logout</a></button>
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'profile' %}">Profile</a></button>
                        <button class="btn btn-outline-secondary" type="button"><a href="{% url 'reviews' %}">Reviews</a></button>
                        <button class="btn btn-outline-success" type="button"><a href="{% url 'view_cart' %}">Cart</a></button>
                        {% endif %}
                    </form>
                </nav>
            </div>
        </div>
        <div class="row">   
            <footer id="footer"> Project by Patrick Trollip</footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>