<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Base html file</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <header></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcontinuinged.uml.edu%2Fimages%2Fprograms%2Fmain%2Fcybersecurity-lock.jpg&f=1&nofb=1" alt="Picture of a man in a suit holding a silver cyber shield in his hand"> 
                </div>
                <div class="col-8">
                    <h1> Cyber Sappers Ltd. </h1>
                </div>
            </div>
        </div>       
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Cart</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <h2>Home page</h2>
                    </div> 
                </div> 
            </div> 
            <div class="row">                                           
                <div class="col-2" >                      
                    <i class="fas fa-user"></i>                          
                </div>
                <div class="col-6">
                                
                                                        <p>
                                                             Section about the company
                                                        </p>
                                                    
                                                </div>
                                
                        </div>
                    
           
        <footer></footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>